body {
text-align:center;
background-color:black;
}

h1 { font-family: Verdana, Geneva, sans-serif; 
    font-size: 50px; 
    font-style: normal; 
    font-variant: normal; 
    color: #ffffff;
    }

.cta { font-family: Verdana, Geneva, sans-serif; 
    font-size: 16px; 
    color: aquamarine;
}